<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      01-parent.html
    {% endblock %}
  </title>
</head>
<body>
  <h1>这是网页的头部</h1>
  <h2>
    <p>使用正常方式访问/03-test-alias</p>
    <p>
      <a href="/03-test-alias/">03-test-alias</a>
    </p>
  </h2>
  <h2>
    <p>使用name别名的方式访问/03-test-alias</p>
    <a href="{% url 'alias' %}">03-test-alias</a>
  </h2>
  <h2>
    <p>使用name别名的方式传参</p>
    <p>
      <a href="{% url 'params' '2018' %}">name别名传参</a>
    </p>
  </h2>
  {% block anchor %}
    <a href="/02-child/">去往02-child</a>
  {% endblock %}

</body>
</html>