{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>学生列表</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">
	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>	
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>
</head>
<body>
	<!-- 学生列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 
	    
	</table> 
	<!-- 工具栏 -->
	<!-- <div id="toolbar">
		
		<div style="float: left; margin: 0 10px 0 10px">年级：<input id="gradeList" class="easyui-textbox" name="grade" /></div>
		<div style="margin-left: 10px;">班级：<input id="clazzList" class="easyui-textbox" name="clazz" /></div>
	
	</div> -->
	
	<!-- 添加学生窗口 -->
	<div id="addDialog" style="padding: 10px">  
		<div style="float: right; margin: 20px 20px 0 0; width: 200px; border: 1px solid #EBF3FF" id="photo">
	    	<img alt="照片" style="max-width: 200px; max-height: 400px;" title="照片" src="/static/images/0.jpg" />
	    </div> 
    	<form id="addForm" method="post">
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>学号:</td>
	    			<td>
	    				<input id="add_number"  class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="number" data-options="required:true, validType:'repeat', missingMessage:'请输入学号'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input id="add_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'请填写姓名'" /></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td><select id="add_sex" class="easyui-combobox" data-options="editable: false, panelHeight: 50, width: 60, height: 30" name="sex"><option value="男">男</option><option value="女">女</option></select></td>
	    		</tr>
	    		<tr>
	    			<td>电话:</td>
	    			<td><input id="add_phone" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="phone" validType="mobile" /></td>
	    		</tr>
	    		<tr>
	    			<td>QQ:</td>
	    			<td><input id="add_qq" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="qq" validType="number" /></td>
	    		</tr>
	    		<tr>
	    			<td>年级:</td>
	    			<td><input id="add_gradeList" style="width: 200px; height: 30px;" class="easyui-textbox" name="gradeid" /></td>
	    		</tr>
	    		<tr>
	    			<td>班级:</td>
	    			<td><input id="add_clazzList" style="width: 200px; height: 30px;" class="easyui-textbox" name="clazzid" /></td>
	    		</tr>
	    	</table>
	    </form>
	</div>
	
	<!-- 修改学生窗口 -->
	<!-- <div id="editDialog" style="padding: 10px">
		<div style="float: right; margin: 20px 20px 0 0; width: 200px; border: 1px solid #EBF3FF">
	    	<img id="edit_photo" alt="照片" style="max-width: 200px; max-height: 400px;" title="照片" src=""/>
	    </div>
    	<form id="editForm" method="post">
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>学号:</td>
	    			<td>
	    				<input id="edit_number" data-options="readonly: true" class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="number" data-options="required:true, validType:'repeat', missingMessage:'请输入学号'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'请填写姓名'" /></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td><select id="edit_sex" class="easyui-combobox" data-options="editable: false, panelHeight: 50, width: 60, height: 30" name="sex"><option value="男">男</option><option value="女">女</option></select></td>
	    		</tr>
	    		<tr>
	    			<td>电话:</td>
	    			<td><input id="edit_phone" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="phone" validType="mobile" /></td>
	    		</tr>
	    		<tr>
	    			<td>QQ:</td>
	    			<td><input id="edit_qq" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="qq" validType="number" /></td>
	    		</tr>
	    		<tr>
	    			<td>年级:</td>
	    			<td><input id="edit_gradeList" style="width: 200px; height: 30px;" class="easyui-textbox" name="gradeid" /></td>
	    		</tr>
	    		<tr>
	    			<td>班级:</td>
	    			<td><input id="edit_clazzList" style="width: 200px; height: 30px;" class="easyui-textbox" name="clazzid" /></td>
	    		</tr>
	    	</table>
	    </form>
	</div> -->
	// <script>
		$(function() {
			//datagrid初始化 
				$('#dataList').datagrid({ 
						title:'学生列表', 
						iconCls:'icon-more',//图标 
						border: true, 
						collapsible:false,//是否可折叠的 
						fit: true,//自动大小 
						method: "post",
						url:"{% url 'mysrc_stu' %}",
						idField:'id', 
						singleSelect:false,//是否单选 
						pagination:true,//分页控件 
						rownumbers:true,//行号 
						sortName:'id',
						sortOrder:'DESC', 
						remoteSort: false,
						columns: [[ 
							{field:'chk',checkbox: true,width:50},
							{field:'id',title:'ID',width:50, sortable: true}, 
							{field:'number',title:'学号',width:200, sortable: true},    
							{field:'name',title:'姓名',width:200},
							{field:'sex',title:'性别',width:100},
							{field:'phone',title:'电话',width:150},
							{field:'qq',title:'QQ',width:150},
							{field:'clazz',title:'班级',width:150, 
							// 	formatter: function(value,row,index){
							// 	if (row.clazz){
							// 		return row.clazz.name;
							// 	} else {
							// 		return value;
							// 	}
							// }
						},
							{field:'grade',title:'年级',width:150, 
						// formatter: function(value,row,index){
						// 	if (row.grade){
						// 		return row.grade.name;
						// 	} else {
						// 		return value;
						// 	}
						// }	
							},
				]], 
						toolbar: "#toolbar"
				}); 
				//设置分页控件 
				var p = $('#dataList').datagrid('getPager'); 
				$(p).pagination({ 
						pageSize: 10,//每页显示的记录条数，默认为10 
						pageList: [10,20,30,50,100],//可以设置每页记录条数的列表 
						beforePageText: '第',//页数文本框前显示的汉字 
						afterPageText: '页    共 {pages} 页', 
						displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录', 
				}); 
				//设置工具类按钮




				
				//年级下拉框
				/*$("#gradeList").combobox({
					width: "150",
					height: "25",
					valueField: "id",
					textField: "name",
					multiple: false, //可多选
					editable: false, //不可编辑
					method: "post",
					url: "GradeServlet?method=GradeList&t="+new Date().getTime(),
					onChange: function(newValue, oldValue){
						//加载该年级下的学生
						$('#dataList').datagrid("options").queryParams = {gradeid: newValue};
						$('#dataList').datagrid("reload");
						
						//加载该年级下的班级
						$("#clazzList").combobox("clear");
						$("#clazzList").combobox("options").queryParams = {gradeid: newValue};
						$("#clazzList").combobox("reload")
					}
				});*/
				//班级下拉框
				/*$("#clazzList").combobox({
					width: "150",
					height: "25",
					valueField: "id",
					textField: "name",
					multiple: false, //可多选
					editable: false, //不可编辑
					method: "post",
					url:,
					onChange: function(newValue, oldValue){
						//加载班级下的学生
						$('#dataList').datagrid("options").queryParams = {clazzid: newValue};
						$('#dataList').datagrid("reload");
					}
				});*/
				
				//下拉框通用属性
				/*$("#add_gradeList, #edit_gradeList, #add_clazzList, #edit_clazzList").combobox({
					width: "200",
					height: "30",
					valueField: "id",
					textField: "name",
					multiple: false, //可多选
					editable: false, //不可编辑
					method: "post",
				});
				
				$("#add_gradeList").combobox({
					url: "GradeServlet?method=GradeList&t="+new Date().getTime(),
					onChange: function(newValue, oldValue){
						//加载该年级下的班级
						$("#add_clazzList").combobox("clear");
						$("#add_clazzList").combobox("options").queryParams = {gradeid: newValue};
						$("#add_clazzList").combobox("reload");
					},
				onLoadSuccess: function(){
					//默认选择第一条数据
					var data = $(this).combobox("getData");
					$(this).combobox("setValue", data[0].id);
					}
				});
				$("#add_clazzList").combobox({
					url: "ClazzServlet?method=ClazzList&t="+new Date().getTime(),
					onLoadSuccess: function(){
						//默认选择第一条数据
					var data = $(this).combobox("getData");;
					$(this).combobox("setValue", data[0].id);
					}
				});
				
				$("#edit_gradeList").combobox({
					url: "GradeServlet?method=GradeList&t="+new Date().getTime(),
					onChange: function(newValue, oldValue){
						//加载该年级下的班级
						$("#edit_clazzList").combobox("clear");
						$("#edit_clazzList").combobox("options").queryParams = {gradeid: newValue};
						$("#edit_clazzList").combobox("reload");
					},
				onLoadSuccess: function(){
					//默认选择第一条数据
					var data = $(this).combobox("getData");
					$(this).combobox("setValue", data[0].id);
					}
				});
				
				$("#edit_clazzList").combobox({
					url: "ClazzServlet?method=ClazzList&t="+new Date().getTime(),
				onLoadSuccess: function(){
					//默认选择第一条数据
					var data = $(this).combobox("getData");
					$(this).combobox("setValue", data[0].id);
					}
				});	*/			
		 
		});
	</script>
</body>
</html>