{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>班级通讯录</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">

	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>
</head>
<body>
	<!-- 学生列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 	    
	</table> 
	<script >
		var class_number_sort = window.parent.class_number;
		$(function() {	
			//datagrid初始化 
				$('#dataList').datagrid({ 
						title:'学生列表', 
						iconCls:'icon-more',//图标 
						border: true, 
						collapsible:false,//是否可折叠的 
						fit: true,//自动大小 
						method: "post",
						url:"{% url 'student_bjtxl' %}",
						// data:[{'id':1,'number':'第一学期','name':'123','gender':'12345','nation':'201301044','major_number':'1','qq':'12'}],
						idField:'id', 
						singleSelect: true,//是否单选 
						pagination: true,//分页控件 
						rownumbers: true,//行号 
						sortName:'id',
						sortOrder:class_number_sort,
						remoteSort: false,
						columns: [[  
							{field:'chk',checkbox: true,width:50},
							{field:'id',title:'ID',width:50, sortable: true},
							{field:'number',title:'学号',width:200, sortable: true},    
							{field:'name',title:'姓名',width:150},
							{field:'gender',title:'性别',width:100},		
							// {field:'nation',title:'民族',width:100},
							{field:'major_number',title:'年级ID',width:100},
							// {field:'grade',title:'年级',width:100},
							{field:'class_number',title:'班级',width:100},
							{field:'instructor',title:'指导员',width:100},
							{field:'phone',title:'电话',width:150},
							{field:'qq',title:'QQ',width:150}, 			
					]], 				
				}); 
				//设置分页控件 
				var p = $('#dataList').datagrid('getPager'); 
				$(p).pagination({ 
						pageSize: 10,//每页显示的记录条数，默认为10 
						pageList: [10,20,30,50,100],//可以设置每页记录条数的列表 
						beforePageText: '第',//页数文本框前显示的汉字 
						afterPageText: '页    共 {pages} 页', 
						displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录', 
				}); 				
		});
	</script>
</body>
</html>