{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>教师列表</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">

	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>
	<script>
		$(function(){
			var table;		
			//datagrid初始化 
		    $('#dataList').datagrid({ 
		        title:'教师列表', 
		        iconCls:'icon-more',//图标 
		        border: true, 
		        collapsible:false,//是否可折叠的 
		        fit: true,//自动大小 
		        method: "post",
		        url:"{% url 'mysrc_teach' %}",
		        idField:'id', 
		        singleSelect:false,//是否单选
		        pagination:true,//分页控件 
		        rownumbers:true,//行号 
		        sortName:'id',
		        sortOrder:'DESC', 
		        // remoteSort: false,
		        columns: [[  
		        	{field:'chk',checkbox: true,width:50},
	 		        {field:'tea_number',title:'工号',width:110},    
	 		        {field:'name',title:'姓名',width:150},
	 		        {field:'gender',title:'性别',width:100},
	 		        {field:'data_birth',title:'出生年月',width:150},
	 		        {field:'phone',title:'电话',width:200},
	 		        {field:'qq',title:'QQ',width:200},
	 		        /*{field:'courseList',title:'课程',width:500, 
	 		        	formatter: function(value,row,index){
	 						if (row.courseList){
	 							var courseList = row.courseList;
	 							var course = "";
	 							for(var i = 0;i < courseList.length;i++){
	 								var gradeName = courseList[i].grade.name;
	 								var clazzName = courseList[i].clazz.name;
	 								var courseName = courseList[i].course.name;
	 								course += "[" + gradeName + " " + clazzName + " " + courseName + "] &nbsp;&nbsp;&nbsp;";
	 							}
	 							return course;
	 						} else {
	 							return value;
	 						}
	 					}	
	 		        }*/
		 		]], 
		        toolbar: "#toolbar"
		    }); 
		    //设置分页控件 
		    var p = $('#dataList').datagrid('getPager'); 
		    $(p).pagination({ 
		        pageSize: 10,//每页显示的记录条数，默认为10 
		        pageList: [10,20,30,50,100],//可以设置每页记录条数的列表 
		        beforePageText: '第',//页数文本框前显示的汉字 
		        afterPageText: '页    共 {pages} 页', 
		        displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录', 
		    }); 

		});
	</script>
</head>
<body>
	<!-- 数据列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0">     
	</table> 	
</body>
</html>